.search_category a{
    margin:5px;
    border-color: rgb(10,10,10);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: initial;
    min-width: 100px;
    padding:6px;
    font-size: 24px;
    
}

.search_category li{
    margin-top:20px;
    margin-left: 5px;
    float:left;
}

/*
.search_category ul{
    float:left;
}
*/