/* ==========================================================================
   Blog - アーカイブページ
   ========================================================================== */

/* Blogs - ブログ一覧
   ========================================================================== */

.post{
  width: 100%;
  box-sizing: border-box;
  display: table;
  border: 1px solid #666;
  padding: 10px;
  margin-bottom: 20px;
}
.post > a{
  display: block;
}
.post__thumb{
  display: table-cell;
  vertical-align: top;
}

.post__thumb img {
  max-height: 150px;
  max-width: 150px;
}

.post__content{
  width: 100%;
  display: table-cell;
  vertical-align: top;
  padding-left: 20px;
}
.post__title{
  background-image: url("../img/title-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  border-bottom: 2px solid #f08300;
  padding-left: 28px;
  font-weight: bold;
}
.post__text{
  margin-top: 10px;
}
.post__info{
  text-align: right;
}
.post__info p{
  position: absolute;
  bottom: 0;
}
/* 1024px 以下の処理 */
@media screen and (max-width: 768px){
  .post__thumb,
  .post__content{
    display: block;
    width: 100%;
    padding: 0;
  }
}
