
/* ==========================================================================
   Main - メイン部分
   ========================================================================== */
.main{
    padding: 150px 0 50px; /* ヘッダーの分だけ下げる */
}

.headline{
    display:table;
    width:100%;
    margin: 20px 0px 20px 0px;
    border-bottom: 5px solid #50A320;
    /*x軸のみ伸びる画像に変更*/
}

.headline_title{
    display:table-cell;
    width:60%;
    height: 24px;
    font-family: 'Segoe UI Semibold';
    line-height:24px;
    padding:0 0 10px 30px;
}



/* Top - サイトトップ
   ========================================================================== */
.topslider{
    margin-bottom: 30px;
}

.sns_links {
  display:table;
  float:right;
}

.sns_links .sns_link{
  display:table-cell;
  width:100px;
  border:1px soild black;
}

.blog__left,
.blog__right{
    box-sizing: border-box;
    padding: 20px;
}
.blog__left{
    width: 630px;
    margin-left: 20px;
}
.blog__right{
    width: 350px;
    margin-right: 20px;
}

/* Blogs - ブログ一覧
   ========================================================================== */

.blog{
  color:black;
  text-decoration:none;
}

.blog .content{
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #999999;
}
.blog .box .content__left img{
    background-color: #ff0;
    margin-right: 20px;
    width: 120px;
    float: left;

}

.blog .box .content__right{
  float:right;
  width:400px;
}

.blog .box .content__right .content_title {
  border-bottom: 2px solid #f08300;
  margin:0 0 10px 0;
}

.blog .box .content__right .content_info{
  margin:10px 0 0 0;
  float:right;
}


/* Post - ブログ記事
   ========================================================================== */


/* Search - 検索ウィンドウ
   ========================================================================== */

#search{
    margin: 0px auto;
    width: 250px;
    height: 50px;
    border: 2px solid #999999;
    background-color: #ddd;
    margin-bottom: 30px;
}


/* Calendar - カレンダー
   ========================================================================== */

#calendar{
    width: 310px;
    height: 300px;
    border: 2px solid #999999;
}
