/* ==========================================================================
   Config - 一般的な設定
   ========================================================================== */
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
}
body{
    font-family: YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
    /* font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif; */
    background-image:
        url("./img/flower.png"),
        url("./img/washi.jpg");
    background-repeat:
        no-repeat,
        repeat;
    background-position:
        right bottom,
        left top;
    background-attachment:
        fixed,
        scroll;
}
a:link,
a:visited,
a:hover,
a:active {
  /* aタグのスタイルをリセット */
  color: black;
  text-decoration: none;
}

ul{
    list-style:none;
}

/* ==========================================================================
   Utility - サイト全体で使う便利なもの
   ========================================================================== */
/* container: 横幅1020px, 中央寄せの枠 */
.container{
    margin: 0px auto;
    max-width: 1020px;
    width: 100%;
}

/* グレーの筆致。#666666 */
.PencilTouchGray{
    border-width: 1px;
    border-style: solid;
    border-color: #666666; /* デフォルト値 */
    border-image: url("./img/border_gray.png") 10 / 10px repeat;
    -webkit-border-image: url("./img/border_gray.png") 10 / 10px repeat;/* 旧Safari, GoogleChrome対策 */
    -o-border-image: url("./img/border_gray.png") 10 / 10px repeat;/* 旧Opera対策 */
    -moz-border-image: url("./img/border_gray.png") 10 / 10px repeat; /* 旧Firefox対策 */
}

/* ブルーの筆致。#28558c */
.PencilTouchBlue{
    border-width: 1px;
    border-style: solid;
    border-color: #28558c; /* デフォルト値 */
    border-image: url("./img/border_blue.png") 10 / 10px repeat;
    -webkit-border-image: url("./img/border_blue.png") 10 / 10px repeat;/* 旧Safari, GoogleChrome対策 */
    -o-border-image: url("./img/border_blue.png") 10 / 10px repeat;/* 旧Opera対策 */
    -moz-border-image: url("./img/border_blue.png") 10 / 10px repeat; /* 旧Firefox対策 */
}

/* オレンジの筆致。#ffa500 */
.PencilTouchOrange{
    border-width: 1px;
    border-style: solid;
    border-color: #ffa500; /* デフォルト値 */
    border-image: url("./img/border_orange.png") 10 / 10px repeat;
    -webkit-border-image: url("./img/border_orange.png") 10 / 10px repeat;/* 旧Safari, GoogleChrome対策 */
    -o-border-image: url("./img/border_orange.png") 10 / 10px repeat;/* 旧Opera対策 */
    -moz-border-image: url("./img/border_orange.png") 10 / 10px repeat; /* 旧Firefox対策 */
}

/* グリーンの筆致。#2e8b57 */
.PencilTouchGreen{
    border-width: 1px;
    border-style: solid;
    border-color: #2e8b57; /* デフォルト値 */
    border-image: url("./img/border_green.png") 10 / 10px repeat;
    -webkit-border-image: url("./img/border_green.png") 10 / 10px repeat;/* 旧Safari, GoogleChrome対策 */
    -o-border-image: url("./img/border_green.png") 10 / 10px repeat;/* 旧Opera対策 */
    -moz-border-image: url("./img/border_green.png") 10 / 10px repeat; /* 旧Firefox対策 */
}

/* パープルの筆致。#a2418d */
.PencilTouchPurple{
    border-width: 1px;
    border-style: solid;
    border-color: #a2418d; /* デフォルト値 */
    border-image: url("./img/border_purple.png") 10 / 10px repeat;
    -webkit-border-image: url("./img/border_purple.png") 10 / 10px repeat;/* 旧Safari, GoogleChrome対策 */
    -o-border-image: url("./img/border_purple.png") 10 / 10px repeat;/* 旧Opera対策 */
    -moz-border-image: url("./img/border_purple.png") 10 / 10px repeat; /* 旧Firefox対策 */
}


/* 文字寄せ用 */
.align-left  { text-align: left; }
.align-center{ text-align: center; }
.align-right { text-align: right; }

/* box: 要素の左右への振り分け */
.box:after {
    content: "";
    display: block;
    clear: both;
}
.box__left{
    float: left;
}
.box__right{
    float: right;
}

/* clearfix: クリアフィックス */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* ただの箱、レイアウト確認用 */
.tmpbox {
  width: 100%;
  height: 200px;
  border: 1px solid #666;
  margin-bottom: 20px;
}

/* タブレット用 */
@media screen and (max-width: 1020px) {
  .box__left,
  .box__right {
    text-align: center;
    float: none;
  }
}

/* ==========================================================================
   Header - ヘッダー
   ========================================================================== */
header{
    z-index:100;
    width: 100%;
    position: fixed;
    padding: 50px 0 0 0;
    background-image:
        url("./img/header.png"),
        url("./img/washi.jpg");
    background-repeat:
        repeat-x,
        repeat;
    border-image: 5 url("./img/underline.png");
    border-bottom: 5px solid;
}
header .title{
    font-family: 'Segoe UI Semibold';
    font-size:26px;
    padding:20px 0;
}

header nav {
  margin:40px 0 30px 0;
  display:table;
}

header .navbar_box {
  display:table-cell;
  max-width:120px;
  padding-left:10px;
  padding-right:10px;
  height:20px;
  border-left:1px #666 solid;
}

header .navbar_box a{
  display:block;
  line-height:20px;
  text-decoration:none;
  text-align:center;
  color:#666;
  font-size:15px;
}

header .navbar_box:last-child{
  border-right:1px #666 solid;
}

/* タブレット用 */
@media screen and (max-width: 1020px){
  header{
    position: static;
    padding: 20px 0 10px 0;
  }
  header nav{
    margin: 0 auto;
  }
}

/* ==========================================================================
   Main - メイン
   ========================================================================== */
.main{
    padding: 150px 0 50px; /* ヘッダーの分だけ下げる */
}
.main:after{
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 1020px){
  .main{
    padding: 0 0 50px; /* スマホサイズの時は上paddingなし */
  }
}

/* コンテンツとサイドバーの振り分け
   ========================================================================== */
  .main__content,
  .main__sidebar{
    box-sizing: border-box;
    padding: 20px;
  }
  .main__content{
    float: left;
    width: 75%;
  }
  .main__sidebar{
    float: right;
    width: 25%;
  }
    .main__sidebar h2 {
      border-bottom: 2px solid gray;
      font-size: 18px
    }
    
   /* 検索フォーム ここから */
	.widget_search label { display: none; }
	.widget_search #s { padding: 7px 10px; margin: 0 5px 0 0; }
	#searchsubmit {
	     border: 1px solid #333;
	     background: #333;
	     color: #fff; 
	     -webkit-border-radius: 4px;     /* Google Chrome・Safari用 */
	     -moz-border-radius: 4px;    /* Firefox用 */
	     border-radius: 4px;     /* 基本形 */
	     padding: 5px 10px; 
	     cursor: pointer; 
	     display: inline-block;
	}   
   
  .sidebar__textbox {
    width: 70%;
  }
   /* 検索フォーム ここまで */

  /* タブレット用 */
  @media screen and (max-width: 1020px){
    .main__content,
    .main__sidebar{
      width: 100%;
    }
  }

/* 見出し
   ========================================================================== */
  .headline{
      margin: 20px 0px 20px 0px;
      border-bottom: 5px solid #50A320;
      /*x軸のみ伸びる画像に変更*/
  }
  .headline:after{
      content: "";
      display: block;
      clear: both;
  }
  .headline__title{
      float: left;
      height: 24px;
      font-size: 30px;
      font-family: 'Segoe UI Semibold';
      line-height:24px;
      padding:0 0 10px 30px;
  }
  .headline__snsbtns{
    display:table;
    float:right;
  }

  .headline__snsbtn{
    display:table-cell;
    vertical-align: middle;
    width:100px;
  }

/* ==========================================================================
  Footer- フッター
   ========================================================================== */
footer{
    width: 100%;
    padding: 15px 0;
    background-image: url("./img/underline.png");
    background-repeat: repeat-x;
}
footer .footer-desc{
    margin: 15px 0 0 20px;
}
footer .copyright{
    font-size: 12px;
    text-align: center;
}
footer .social-icons{
    margin-top: 20px;
}
footer .social-icons i{
    margin-right: 20px;
}
