/* ==========================================================================
   Config - 一般的な設定
   ========================================================================== */
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
}
body{
    font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
    background-image:
        url("../img/flower.png"),
        url("../img/washi.jpg");
    background-repeat:
        no-repeat,
        repeat;
    background-position:
        right bottom,
        left top;
    background-attachment:
        fixed,
        scroll;
}
a:link,
a:visited,
a:hover,
a:active{
  /* aタグのスタイルをリセット */
  color: black;
  text-decoration: none;
}

/* ==========================================================================
   Utility - サイト全体で使う便利なもの
   ========================================================================== */
/* container: 横幅1020px, 中央寄せの枠 */
.container{
    margin: 0px auto;
    max-width: 1020px;
    width: 100%;
}
/* 文字寄せ用 */
.align-left  { text-align: left; }
.align-center{ text-align: center; }
.align-right { text-align: right; }

/* box: 要素の左右への振り分け */
.box:after{
    content: "";
    display: block;
    clear: both;
}
.box__left{
    float: left;
}
.box__right{
    float: right;
}

/* clearfix: クリアフィックス */
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

/* ただの箱、レイアウト確認用 */
.tmpbox{
  width: 100%;
  height: 200px;
  border: 1px solid #666;
  margin-bottom: 20px;
}

/* タブレット用 */
@media screen and (max-width: 1020px){
  .box__left,
  .box__right{
    text-align: center;
    float: none;
  }
}

/* ==========================================================================
   Header - ヘッダー
   ========================================================================== */
header{
    z-index:100;
    width: 100%;
    position: fixed;
    padding: 50px 0 0 0;
    background-image:
        url("../img/header.png"),
        url("../img/washi.jpg");
    background-repeat:
        repeat-x,
        repeat;
}
header .title{
    font-family: 'Segoe UI Semibold';
    font-size:36px;
    padding:20px 0;
}

header nav {
  margin:30px 0;
  display:table;
}

header .navbar_box {
  display:table-cell;
  width:60px;
  height:30px;
  border-left:1px #666 solid;
}

header .navbar_box a{
  display:block;
  line-height:20px;
  text-decoration:none;
  text-align:center;
  color:#666;
  font-size:15px;
}

header .navbar_box:last-child{
  border-right:1px #666 solid;
}

/* タブレット用 */
@media screen and (max-width: 1020px){
  header{
    position: static;
    padding: 20px 0 10px 0;
  }
  header nav{
    margin: 0 auto;
  }
}

/* ==========================================================================
   Main - メイン
   ========================================================================== */
.main{
    padding: 150px 0 50px; /* ヘッダーの分だけ下げる */
}
.main:after{
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 1020px){
  .main{
    padding: 0 0 50px; /* スマホサイズの時は上paddingなし */
  }
}

/* コンテンツとサイドバーの振り分け
   ========================================================================== */
  .main__content,
  .main__sidebar{
    box-sizing: border-box;
    padding: 20px;
  }
  .main__content{
    float: left;
    width: 75%;
  }
  .main__sidebar{
    float: right;
    width: 25%;
  }
  /* タブレット用 */
  @media screen and (max-width: 1020px){
    .main__content,
    .main__sidebar{
      width: 100%;
    }
  }

/* 見出し
   ========================================================================== */
  .headline{
      margin: 20px 0px 20px 0px;
      border-bottom: 5px solid #50A320;
      /*x軸のみ伸びる画像に変更*/
  }
  .headline:after{
      content: "";
      display: block;
      clear: both;
  }
  .headline__title{
      float: left;
      height: 24px;
      font-size: 30px;
      font-family: 'Segoe UI Semibold';
      line-height:24px;
      padding:0 0 10px 30px;
  }
  .headline__snsbtns{
    display:table;
    float:right;
  }

  .headline__snsbtn{
    display:table-cell;
    vertical-align: middle;
    width:100px;
  }

/* ==========================================================================
  Footer- フッター
   ========================================================================== */
footer{
    width: 100%;
    padding: 15px 0;
    background-image: url("../img/underline.png");
    background-repeat: repeat-x;
}
footer .footer-desc{
    margin: 15px 0 0 20px;
}
footer .copyright{
    font-size: 12px;
    text-align: center;
}
footer .social-icons{
    margin-top: 20px;
}
footer .social-icons i{
    margin-right: 20px;
}
