.div-home-eycatch{
    width:100%;
    margin:0px;
}
.div-home-eyecatchback{
    position:relative;
}

.div-home-eyecatchover{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
}

.p-home-captionleft{
    position: absolute;
    top:20%;
    left: 20px;
    color: white;
    font-weight: bold;
    width: 40%;
}

.p-home-captionright{
    position: absolute;
    bottom:5%;
    right: 5px;
    color: white;
    font-weight: bold;
    width:55%;
    text-decoration-line: underline;
    text-align: right;
}

@media screen and (min-width:961px) {
    /*pc用のcssを記述*/
    .p-home-captionleft{
        font-size:38px;
    }
    .p-home-captionright {
        font-size: 32px;
    }
}

@media only screen and (min-width:600px) and (max-width:960px) {
    /*tablet用のcssを記述*/
    .p-home-captionleft{
        font-size:28px;
    }
    .p-home-captionright {
        font-size: 28px;
    }
}

@media only screen and (min-width:376px) and (max-width:599px) {
    /*tablet用のcssを記述*/
    .p-home-captionleft{
        font-size:20px;
    }
    .p-home-captionright {
        font-size: 20px;
    }
}

@media screen and (max-width:375px) {
    /*スマホ用のcssを記述*/
    .p-home-captionleft{
        font-size:10px;
    }
    .p-home-captionright {
        font-size: 12px;
    }
}



.div-home-intro{
}

.div-home-topbutton{
    width:220px;
    height:190px;
    margin:auto;
    text-align: center;
    color: #fff;
}

.dic-home-topbutton-container{
    text-align: center;
}

.div-home-topbutton-left{
    background-color: #01bc88;
}

.div-home-topbutton-center{
    background-color: #d1dd83;
}

.div-home-topbutton-right{
    background-color: #709dc1;
}

.i-home-topbutton-icon{
    font-size:100px;
    margin-top:10px;
}

.p-home-topbutton-title{
    text-decoration: underline;
    font-size:24px;
    font-weight: bold;
    margin-bottom: 2px;
}

.p-home-topbutton-caption{
    white-space: pre-wrap;
}


.div-home-section-title{
    text-align: center;
}



.div-home-section-title-about > div{
    border-bottom-color: #e54372;
}

.div-home-section-title-about p{
    color:#e54372;
}

.a-home-section-button-about{
    background-color: #f19ab3;
}

.div-home-section-title-recent > div{
    border-bottom-color: #01bc88;
}

.div-home-section-title-recent p{
    color:#01bc88;
}

.a-home-section-button-recent{
    background-color: #01bc88;
}

.div-home-section-recent{
    display: flex;
}

.div-home-section-recent>div>a{
    padding:0px;
}

.div-home-section-recent>div>a>img{
    width:100%;
}


.div-home-section-recent>a>div{
    position: relative;
    margin-left:auto;
    margin-top:auto;
}

.div-home-section-recent>div>a>div{
    position: absolute;
    bottom:0px;
    right:15px;
    left:15px;
    background-color: #01bc88;
    opacity: 0.9;
    color: #fff;
    margin:auto;
}

.div-home-section-recent>div>a>div>p{
    white-space: pre-wrap;
}

@media screen and (max-width:768px) {
    .div-home-section-recent{
        display: block;
    }
}

.p-home-section-recent-date{
    text-align: left;
}

.div-home-section-subrecent{
    margin-top:20px;
}

.div-home-section-subrecent>a{
    max-width:800px;
    background-color: #f4f3f4;
    display: flex;
    padding:5px;
    margin: 5px auto;
}

.div-home-section-subrecent>a>img{
    height: 80px;
}

.div-home-section-subrecent>a>div{
    margin-left:20px;
    color: #595959;
}

.div-home-section-title-imagine > div{
    border-bottom-color: #b7ca3e;
}

.div-home-section-title-imagine p{
    color:#b7ca3e;
}

.a-home-section-button-imagine{
    background-color: #b7ca3e;
}

.div-home-section-imagine-description>.col-sm-6{
    margin-top:20px;
    margin-bottom:20px;
}

.div-home-section-imagine-description>.col-sm-6 p{
    margin-top:20px;
    font-size: 20px;
}

.div-home-section-imagine-register{
    width: 100%;
}

.div-home-section-imagine-register>p{
    font-size:28px;
    font-weight:bold;
}

.div-home-section-imagine-register-caption{
    width: 70%;
    display: table;
    margin:auto;
}

.div-home-section-imagine-register-caption>div{
    display: table-cell;
}

.p-home-section-imagine-register-title{
    color: #b7ca3e;
    font-weight:bold;
}

.p-home-section-imagine-register-sub{
    font-weight:bold;
}


.div-home-section-title-tech > div{
    border-bottom-color: #4577a0;
}

.div-home-section-title-tech p{
    color:#4577a0;
}

.a-home-section-button-tech{
    background-color: #4577a0;
}

.div-home-section-tech>.col-sm-6>p{
    font-size:28px;
    font-weight:bold;
}

.div-home-section-tech>.col-sm-6>p>i{
    font-size: 32px;
    color: #4577a0;
}

.div-home-section-tech>div>a{
    max-width:800px;
    background-color: #f4f3f4;
    display: flex;
    padding:5px;
    margin: 5px auto;
    text-align: left;
}

.div-home-section-tech>div>a>img{
    height:60px;
}

.div-home-section-tech>div>a>div{
    margin-left:20px;
    color: #595959;
}

.div-home-section-tech>div>a>div>p{
    white-space: pre-wrap;
}

