.div-home-eyecatchback{
    position:relative;
}

.div-home-eyecatchover{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}

.p-home-captionleft{
    position: absolute;
    top:20%;
    left: 20px;
    color: white;
    font-weight: bold;
    width: 40%;
    text-shadow: 5px,5px,1px,#999999;
}

.p-home-captionright{
    position: absolute;
    bottom:5%;
    right: 5px;
    color: white;
    font-weight: bold;
    width:55%;
    text-decoration-line: underline;
    text-align: right;
}

@media screen and (min-width:961px) {
    /*pc用のcssを記述*/
    .p-home-captionleft{
        font-size:38px;
    }
    .p-home-captionright {
        font-size: 32px;
    }
}

@media only screen and (min-width:376px) and (max-width:960px) {
    /*tablet用のcssを記述*/
    .p-home-captionleft{
        font-size:20px;
    }
    .p-home-captionright {
        font-size: 20px;
    }
}

@media screen and (max-width:375px) {
    /*スマホ用のcssを記述*/
    .p-home-captionleft{
        font-size:10px;
    }
    .p-home-captionright {
        font-size: 12px;
    }
}



.div-home-intro{
}

.div-home-topbutton{
    width:220px;
    height:190px;
    margin:auto;
    text-align: center;
    color: #fff;
}

.dic-home-topbutton-container{
    text-align: center;
}

.div-home-topbutton-left{
    background-color: #01bc88;
}

.div-home-topbutton-center{
    background-color: #d1dd83;
}

.div-home-topbutton-right{
    background-color: #709dc1;
}

.i-home-topbutton-icon{
    font-size:100px;
    margin-top:10px;
}

.p-home-topbutton-title{
    text-decoration: underline;
    font-size:24px;
    font-weight: bold;
    margin-bottom: 2px;
}

.p-home-topbutton-caption{
    white-space: pre-wrap;
}

.div-home-section{
    margin-top:10px;
    text-align: center;
}

.div-home-section-title{
    text-align: center;
}

.div-home-section-title > div{
    border-bottom-style:solid;
    border-bottom-width: 2px;
    border-bottom-color: #e54372;
    display: inline-block;
    margin:auto;
    margin-bottom:10px;
}

.div-home-section-title p{
    font-size:24px;
    margin-bottom:1px;
    color:#e54372;
}

.p-home-section-description{
    font-size: 20px;
    text-align: left;
}

.div-home-section-button{
    text-align: right;
}

.a-home-section-button{
    margin-top:40px;
    color: #fff;
    background-color: #f19ab3;
    margin-left:auto;
}


.a-home-section-button > p{
    margin:5px 10px;
    font-size: 20px;
}

.div-home-section-title-recent > div{
    border-bottom-color: #01bc88;
}

.div-home-section-title-recent p{
    color:#01bc88;
}

.a-home-section-button-recent{
    background-color: #01bc88;
}

.div-home-section-recent{
    display: flex;
}

.div-home-section-recent>div{
    position: relative;
    width:100%;
    margin-left:auto;
    margin-top:auto;
}

.div-home-section-recent>div>div{
    position: absolute;
    bottom:0px;
    width:320px;
    background-color: #01bc88;
    opacity: 0.9;
    color: #fff;
    left:0px;
    right:0px;
    margin:auto;
    padding:5px;
}

@media screen and (max-width:768px) {
    .div-home-section-recent{
        display: block;
    }
}

.p-home-section-recent-date{
    text-align: left;
}