/* ==========================================================================
   Main - メイン部分
   ========================================================================== */
.main{
    padding: 150px 0 50px; /* ヘッダーの分だけ下げる */
}

/* Top - サイトトップ
   ========================================================================== */
    .topslider{
        margin-bottom: 30px;
    }

    .slick-dots{
      margin-bottom:20px;
      /*Slickのbuttomを強制的に動かしてる*/
    }
    .topinfo:after{
        content: "";
        display: block;
        clear: both;
    }
    .topinfo__left,
    .topinfo__right{
        width: 450px;
        box-sizing: border-box;
        padding: 20px 40px;
    }
    .topinfo__left{
        float: left;
        margin-left: 20px;
        border: 2px solid #ffa500;
    }
    .topinfo__left .topinfo__list li{
        border-bottom: 1px dashed #ffa500;
    }
    .topinfo__right{
        float: right;
        margin-right: 20px;
        border: 2px solid #2e8b57;
    }
    .topinfo__right .topinfo__list li{
        border-bottom: 1px dashed #2e8b57;
    }
    .topinfo__list{
        list-style: none;
        padding-left: 0;
    }
    .topinfo__list li a{
        color: #000;
        display: block;
        text-decoration: none;
    }
    .topinfo__date{
        margin-right: 30px;
    }

/* Blogs - ブログ一覧
   ========================================================================== */

/* Post - ブログ記事
   ========================================================================== */
