.div-archiveprofile-section-title{
    font-weight:bold;
}

.div-archiveprofile-section{
    display: flex;
}

.div-archiveprofile-section2{
    background-color: #f4f3f4;
    display: flex;
}

@media screen and (max-width:768px) {
    .div-archiveprofile-section{
        display: block;
    }
    .div-archiveprofile-section2{
        display: block;
    }
}

.p-archiveprofile-section-title{
    font-size: 32px;
    margin-top:20px;
    font-weight:bold;
}


.p-archiveprofile-section-caption{
    font-size:24px;
}

.p-archiveprofile-section-caption-intro{
    margin-top: 60px;
}

.p-archiveprofile-section-caption-seminar{
    margin-top: 20px;
}
.a-archiveprofile-section-button-seminar{
    background-color: #01bc88;
}

.a-archiveprofile-section-button-pr{
    background-color: #f19ab3;
}

.a-archiveprofile-section-button-contest{
    background-color: #b7ca3e;
}

.a-archiveprofile-section-button-lab{
    background-color: #4577a0;
}

.div-archiveprofile-tabpane{
    width: 100%;
}

.li-archiveprofile-member{
    width: 40%;
    float: left;
    margin-right:5%;
    margin-left:5%;
    border-style: none;
}
.li-archiveprofile-member>a{
    display:flex;
}

@media screen and (max-width:768px) {
    .li-archiveprofile-member{
        width: 90%;
        float: none;
    }
}

.ul-archiveprofile{
    display: inline-block;
}

.div-archiveprofile-iconwrap{
    width:100px;
    height:100px;
    border-radius: 50%;
    background-size: 100% auto;
    background-position: center center;
}

.p-archiveprofile-wrap{
    margin-left:20px;
}

.p-archiveprofile-name{
    margin-top:15px;
    text-align: left;
    font-size:22px;
    width: 100%;
}

.p-archiveprofile-catch{
    text-align: left;
    font-size:18px;
    width: 100%;
    white-space: pre-wrap;
}
