/* ==========================================================================
   Profile - プロフィールページ
   ========================================================================== */

/* プロフィールの一覧表示
   ========================================================================== */
.profile_list{
  list-style-type:none;
  width:100%;
  padding:0;
}
.profile_list:after{
  content: "";
  display: block;
  clear: both;
}
.profile_list > li{
  float: left;
  margin-bottom: 20px;
}

/* 1024px 以上の処理（4カラム） */
@media screen and (min-width: 1024px){
  .profile_list > li{
    width: 23.5%;
    margin-right: 2%;
  }
  .profile_list > li:nth-child(4n){
    margin-right: 0;
  }
}
/* 1024px 以下の処理（3カラム） */
@media screen and (max-width: 1024px){
  .profile_list > li{
    width: 32%;
    margin-right: 2%;
  }
  .profile_list > li:nth-child(3n){
    margin-right: 0;
  }
}
/* 768px 以下の処理（2カラム） */
@media screen and (max-width: 768px){
  .profile_list > li{
    width: 49%;
    margin-right: 2%;
  }
  .profile_list > li:nth-child(2n){
    margin-right: 0;
  }
}
/* 480px 以下の処理（1カラム） */
@media screen and (max-width: 480px){
  .profile_list > li{
    width: 100%;
  }
}


/* 個別のプロフィールのスタイル
   ========================================================================== */
.profile {
  display: block;
  width:100%;
  height:250px;
  background-color:rgba(160,160,160,0.4);
  padding: 3px;
}
.profile__icon{
  display:block;
  margin: 0 auto;
  width:160px;
  height:160px;
}
.profile__name{
  font-weight: bold;
}
.profile_text{
  font-size:12px;
}

