/* ==========================================================================
   Single - 詳細ページ
   ========================================================================== */

.profilepage{
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
}

/* Meta - 記事ページのメタ情報
   ========================================================================== */
.profilepage__name {
  background-image: url("../img/title-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  border-bottom: 2px solid #f08300;
  padding-left: 28px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.profilepage__projects{
  list-style-type:none;
  padding-left: 0;
}
.profilepage__projects li{
  display: inline;
  margin-left:5px;
}
.profilepage__projects li a{
  color:#fff;
  padding:4px 10px;
  background-color:#999;
}
.profilepage__introduce{
  margin: 20px 0;
}
.profilepage__image{
  display:block;
  margin: 0 auto;
  width:160px;
  height:160px;
}