/* Project - ProjectページのSidebarに関するcss
========================================================================== */
.project__list{
    margin-top: 50px;
    /*background-color: rgba(255,255,255,0.7);*/
}

.project__listbody{
    padding: 10px;
    border-style: solid;
    border-color: #f08300;
    border-width: 1px;
    background-color: rgba(255,255,255,0.7);
}

.project__list ul{
    margin: 0 0 0 1em;
    padding: 0;
}

