/* ==========================================================================
   Single - 詳細ページ
   ========================================================================== */

.report{
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
}

/* Meta - 記事ページのメタ情報
   ========================================================================== */
.report__meta{
  margin-bottom: 20px;
}
.report__title {
  background-image: url("../img/title-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  border-bottom: 2px solid #f08300;
  padding-left: 28px;
  font-size: 28px;
  font-weight: bold;
}
.report__info{
  text-align: right;
}
.report__category{
  list-style-type:none;
  text-align: right;
}
.report__category li{
  display: inline;
  margin-left:5px;
}
.report__category li a{
  color:#fff;
  padding:4px 10px;
  background-color:#999;
}

/* Body - 記事ページの本文
   ========================================================================== */
.report__body h4,
.report__body p,
.report__body .report__image{
  margin-bottom: 10px;
}

/* 以下，Wordpressで吐き出されるHTMLに合わせてCSSを書く */


/* report body 内のh2 ~ h6, ul li , dl 等を追加 */
.report__body h2 {
  font-size:1.5em;
  border-left:5px solid #696969;
  border-bottom:1px solid #696969;
  padding:4px 8px;
  margin:5px;
}
.report__body h3 {
  font-size:1.25em;
  border-left:3px solid #696969;
  border-bottom:1px solid #696969;
  padding:2px 6px;
  margin:5px;
}
.report__body h4 {
  font-size:1.1em;
  margin:5px 6px;
}
.report__body h5 {
  font-size:1.025em;
  margin:5px 7px;
}
.report__body h6 {
  font-size:1em;
  margin:5px 8px;
}

.report__body ul {

}

.report__body ul li {

}

.report__body dl{

}

.report__body dl dt {
  font-size:1.5em;
  border-left:5px solid #696969;
  border-bottom:1px solid #696969;
  padding:4px 8px;
  margin:5px;
}

.report__body dl dd {
  padding-bottom:4px;
  border-bottom:1px solid #696969;
}

.report__body p{
  margin:0 10px;

}
.report__body .report__image > img{
  max-width: 100%;

}

/* Profile - ProfileページのSidebarに関するcss
   ========================================================================== */
.project__list{
  padding-top: 50px;
  /*background-color: rgba(255,255,255,0.7);*/
}

.project__listbody{
  padding: 10px;
  border-style: solid;
  border-color: #f08300;
  border-width: 1px;
  background-color: rgba(255,255,255,0.7);
}

.project__list ul{
  margin: 0 0 0 1em;
  padding: 0;
}

.project__list h2{
  /*border-bottom: 1px solid #f08300;
  border-style: solid;
  border-color: #f08300;
  border-width: 1px;*/
}