/* ==========================================================================
   Main - メイン部分
   ========================================================================== */
.main{
    padding: 150px 0 50px; /* ヘッダーの分だけ下げる */
}

/* Top - サイトトップ
   ========================================================================== */
    .topslider{
        margin-bottom: 30px;
    }
    .topinfo:after{
        content: "";
        display: block;
        clear: both;
    }
    .topinfo__left,
    .topinfo__right{
        width: 450px;
        box-sizing: border-box;
        padding: 20px 40px;
    }
    .topinfo__left{
        float: left;
        margin-left: 20px;
        border: 2px solid #ffa500;
    }
    .topinfo__left .topinfo__list li{
        border-bottom: 1px dashed #ffa500;
    }
    .topinfo__right{
        float: right;
        margin-right: 20px;
        border: 2px solid #2e8b57;
    }
    .topinfo__right .topinfo__list li{
        border-bottom: 1px dashed #2e8b57;
    }
    .topinfo__list{
        list-style: none;
        padding-left: 0;
    }
    .topinfo__list li a{
        color: #000;
        display: block;
        text-decoration: none;
    }
    .topinfo__date{
        margin-right: 30px;
    }

/* container - メイン部分
   ========================================================================== */
   .post_date{

   }

   .post_title {
     margin:10px 0;
   }

   .post_title h1{
     font-size:50px;
     border-bottom:1px solid #ccc;
   }

   .post_title h1 a:link,
   .post_title h1 a:hover,
   .post_title h1 a:visited
   {
     color: black;
     text-decoration: none;
   }


   .post_category ul {
     list-style-type:none;
   }

   .post_category ul li{
     float:right;
     margin-left:5px;
   }

   .post_category ul li a{
     text-decoration:none;
     background-color:#888;
     color:#fff;
     padding:4px 10px;
   }

   .entry_body {
     margin:20px 0;
   }

   .post_section{
     margin:30px 0;
   }

   .post_section h2{
     font-size:30px;
     padding:5px 0 5px 5px;
     border-left:8px solid black;
     border-bottom:1px solid black;
     margin-bottom:10px;
   }

   h2.header_red{
     border-color:red;
   }

   h2.header_blue{
     border-color:blue;
   }

   h2.header_green{
     border-color:green;
   }



   p.section_content{
     font-size:20px;
     margin:0 20px 10px 20px;
   }

   .image_desc{
     font-size:20px;
   }

   .post_image img{
     width:192px;
     height:192px;
     margin:4px;
   }


   .post_image{
     display:block;
     width:200px;
     height:280px;
     border-radius:1px;
     background-color:#ccc;
     box-shadow:4px 4px 4px 0 rgba(100, 100, 100, 0.4);
   }

   .post_image .image_desc{
     margin:0 8px;
     text-align:center;
   }

   .entry_auther{
     color:#222222;
     margin-top:10px;
     font-size:20px;
     float:right;
     border-bottom:1px solid gray;
   }



/* Post - ブログ記事
   ========================================================================== */
